html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

.btn-default {
  border: 1px solid #007bff;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: white;
  border: 1px solid #007bff;
  outline: none;
  background-color: #007bff;
}

.lsc-heading {
  border-bottom: 2px solid #ac852e;
  color: #206d5b;
  font-weight: bold;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

/*
-------------------------------------------------------------------------------
Navigation
-------------------------------------------------------------------------------
*/
#mainNav {
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
}

#mainNav a {
  color: white;
}

/*
-------------------------------------------------------------------------------
Masthead
-------------------------------------------------------------------------------
*/
.btn-chevrons {
  color: #333333;
  font-size: 26px;
  height: 55px;
  line-height: 45px;
  width: 55px;
}

.masthead {
  background: url("../img/background.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-img {
  margin-bottom: 50px;
  padding-top: 57px;
  width: 100%;
}

/*
-------------------------------------------------------------------------------
About
-------------------------------------------------------------------------------
*/
.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member > h4 {
  margin-bottom: 10px;
}


/*
-------------------------------------------------------------------------------
Contact
-------------------------------------------------------------------------------
*/
#contact img {
  width: 30px;
}

/*
-------------------------------------------------------------------------------
Services and Our Products
-------------------------------------------------------------------------------
*/
#services, #products {
  background: url("../img/background.jpg") no-repeat center;
  background-attachment: fixed;
  background-color: white;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#products > .container {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0px solid #ac852e;
  border-collapse: separate;
  padding: 50px; 
}

.product-divider {
  margin: 5rem 0;
}

.table {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0px solid #ac852e;
  border-collapse: separate;
  padding: 15px;
}

.table thead > tr > th {
  border-bottom: 2px solid #ac852e;
  color: #206d5b;
  font-size: 20px;
}

td {
  overflow: hidden;
  white-space: nowrap;
}
